#register-container {
  display: flex;
}

#register-form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

#register-submit {
  margin-top: 1rem;
  width: 10rem;
  height: 4rem;
  justify-self: center;
  font-size: 1.5rem;
}

.step-finished {
  color: aliceblue;
  font-size: 2rem;
  padding: 1.5rem 0 4rem 0 ;
}